@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

/* Ensure the body has a black background */
body {
  @apply bg-black;
  margin: 0;
  padding: 0;
}